<div class="flex-root vflex full-width full-height">
  <div class="hflex full-width main-panel grow-1">
    <div class="pane data-pane noselect">
      <div class="card abs-100 no-top-margin">
        <field-list></field-list>
      </div>
    </div>
    <div class="pane vis-list-pane">
      <vis-list></vis-list>
    </div>
  </div>
  <div class="hflex full-width dev-panel" ng-show="showDevPanel">
    <div class="pane">
      <div class="card">
        <button ng-click="Logger.clear()">Clear logs</button><br/>
        <button ng-click="Logger.export()">Download logs</button>
      </div>
      <label><input type="checkbox" ng-model="consts.debugInList"/> Show Debug In List</label>
    </div>
  </div>
</div>
<bookmark-list active="showBookmark"
  deactivate="hideBookmark();"
  highlighted="Fields.highlighted">
</bookmark-list>
